@{
	ViewData["Title"]= "EmailFalhou";
}

<br />
<h1>Email - Gmail</h1>
<hr />
<h2>O envio do email falhou...</h2>
<br />
<img class="rounded float-start" src="~/imagens/error.svg" style="width:150px" />