@{
	ViewData["Title"] = "EmailEnviado";
}

<br />
<h1>Email - Gmail</h1>
<hr />
<h2>Seu email foi enviado com sucesso...</h2>
<br />
<img class="rounded float-start" src="~/imagens/success.svg" style="width:150px" />